.card {
  height: 9rem;
  width: 15rem;
  border: 1px solid blue;
  margin: 0.25rem;
  border-radius: 5px;
  display: inline-block;
}

.vid {
  background-color: #444147;
}

.aud {
  background-color: #615d66;
}

.web {
  background-color: #7c7683;
}

.txt {
  background-color: #aba3b4;
}

.img {
  background-color: #d8cee4;
}